language: objective-c
rvm: 2.0.0
install:
  - sudo gem install bundler --no-ri --no-rdoc
  - sudo ARCHFLAGS=-Wno-error=unused-command-line-argument-hard-error-in-future bundle install
script:
  - bundle exec rake ci
